body
{
	margin: 0;
	padding: 0;
	background: #efefef;
	font-size: 16px;
	color: #777;
	font-family: sans-serif;
	font-weight: 300;
   
}
#login-box
{
  position: relative;
  margin: 5% auto;
  height: 400px;
  width: 600px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.left-box
{
	position: absolute;
	top: 0;
	left: 0;
	box-sizing:border-box;
	padding: 40px;
	width: 300px;
	height: 400px;
}

h1
{
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 28px;
}

input[type="text"],
input[type="password"]
{
	display: block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 4px;
	width: 220px;
	height: 32px;
	border: none;
	outline: none;
	border-bottom: 1px solid #aaa;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
}

input[type="submit"]
{
	margin-bottom: 28px;
	width: 120px;
	height: 32px;
	background: #f44336;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-family: sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.2s ease;
	cursor: pointer;

}

input[type="submit"]:hover,
input[type="submit"]:focus
{
	background: #ff5722;
	transition: 0.2s ease;
}

.right-box
{
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 400px;
	background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUSExMWFhUVFxcVFxcXFRUVFxgVFxUWFxcVGBcYHSggGBolGxUVITEhJSkrLi4uFx8zODMsNygtLisBCgoKDg0OGhAQGi0lHyUtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAKgBKwMBIgACEQEDEQH/xAAcAAADAQEBAQEBAAAAAAAAAAACAwQBAAUGCAf/xAA0EAABAwIFAQcEAQQCAwAAAAABAAIRAyEEEjFBUWETInGBkaHwBbHB0eEUMlLxYoIGQnL/xAAbAQACAwEBAQAAAAAAAAAAAAACAwABBAUGB//EACQRAAMAAgIDAQABBQAAAAAAAAABAgMREiETMUFRBCIyYXHw/9oADAMBAAIRAxEAPwD7IsSXU1QSsK6E0d+sUsic1ZTbdVGnKF1NOVmfJh0MYE9iTRVKF0SMSGU3wnUwpQ5VUuULYVR+l1Nqa0qVr05j7wlMzWh7HFUNcVP0XZrQltbEVpj86IOUZxIHVJfipVrG2C9HoOqBJdiFEa6A1kaxAO0i04hJqV1MaiHMmLGgHkZSKqCrUScyW96JSXzfE59RS1KsJzgpa4Tp0Ys8U1s01Us1FLUKxlWNbpyg5N017K2vTDVItz0Uzao2RaquP6JeR/B7aiNrpSIACLtVTX4Uq/SnPCopVl5dSpojZVQvHtBLNpn0GHrq1j14FGsvRpV1jyYjoYs+12eiHIg5SMqymh6zuR/L8HyiBSQ5bmQ6IrHStlKDluZVoYsh8YQsTSsDE9M9bsXC3ImQtyouRNg0mXRliJjVzuqvYH0W1hVNIpQCdTYdkTZVFLDsfI/hPYxTtOXqD80RU8SCge/hlqW/RXmQ4ioICU2qkY2vACqZ7M9Y3sI1JSamuqmNWV3bp6nQqsY/Okh5WipK0o10IcHByNrkorWdFGUpKHvU73IqjSkFSUM1s11RTvcmuCB1JMWhWVdEj0ORMqJcpyOTllN6MyL0jT54/ChXo5rIMjfQlYES1mRoZ+dUiVU6mluarlmTJjcgTZNYSEreAmtF/BW2KKKb1bRrLyrz5qqjO6VcpobjyNM9JtVOZWXkvqEJtFyQ8fRoWd70ewyomBy82nUVDa6RUGiciZZmXZlL2qIVEPEnM8ABbC6V0oEe5MhMACXmXOqjxRommESsD0p1RJ7aE1IJQ2XBwTW1FCyqDoU0ORcQKgpdUWMddT5kYJsVOJXEtDgk4wWC1h5Q4tzYAVJaYpT/AFEhhLebo3t4KQ4FPRdYkxrHp7nKWk24VACpma8KCY4FMjqso0dIuTtHyVuiHZnePRzxK3KN1soZUAa0JcQkVHJ5Jv7/AG/KRUNk2TLkeyd5QGEb37Trtt8ugDCU5HPv2a0L0mFSUqNjcW5IHoN08Ql29lz0E9JqFG4pR6qJAZJTQio0zb4L/wAI2VExyWWhM3s5uXDruRzXp2deecSB1XHFF36CnjZm8mi9rrySjdXAiF5jcTsRP3Ti9pAAj54qnj77IsvXRaMTKNuIuvO0S317qeJMF52vZ7AxKMYpeKyuU0ViheEi/ksqcluqoKjklxXMSPrEwE+oShzpZcgc9MQ5SN7VIqVEvNdLeUSrTHTHYWdUUsWRrf7+qilcHJ80mHWNNdntUawO/knmsvED7BMZXI3lFxRlrAesK6HEVbBSsxA8F1V6nEV4+xgqIw9TZkQepxLcFIhMY4KPtFrairiZskMvD+CunqpmVE0OQ6MzgYakJRehc5BmRJGTKg3FCQuNW0IMyJIxZEkYWhCStL1gCYZakyU4u0SSVpfCjQvWhgcufG9lM/EcJL3zrqiUC6G1cSAbX8bKOtUJ1NuNlRhDS7QdtOSDpypMa9ge7s5ybTwnQlvWjLlh8OW1/r6ZK0VCJ216KbtE0XCdxObkjfaNdWXCsp3uhKdU4RqNmN7PUZiiNbj3Q9sCV5grIxUVeIFtno9oiFZee2sjFZU8YOz33lKcnLOxtK86fa00iVxS3sKpLeEohTY2WLosugrM4VlPDk3j8JVWnFirLVrZAQViqyIOzTJY1WCNFoWxsuaY2n5qnKimzSUbX8Ja4FNlgNIa16bm1+WU7jJJmfmq4FFrYprZQHImlIa5MBVNCqRVn4Eaf7RAE6Ane3Cma9NGLIEC3mhafwz3PRbhcM5wMTOkQfvKlxDcpiD1nlDRxr294Ogz16z0Sn1y517k+8qTNb79GTLK0EXrs/5SaoiLz12tax3Sm1uU1Tv0c/JjfoqKHtANSp31iRx85SHlGoM9YympiOEhz+qXnlcZNgJ1PkLlNUpGW4YeeUMlKa4c3v4RaPynsd78q9aM9ITX2SHAnr4quoy+oPgZ6pMQUcsy5J7JwD4JzHJNQxKJglNfZjvoTXKmc+E6vax1UTpBToRmvH9HCoibVSGN3CEvvFkzimJclraiLMoBWTQ9C4Acn2yJhssLUbG2Xkz7KznAeKoGDbEi56pLadlcGaeSFirrXpk9OmRYpNal6L0IlJrCVWwJt7PJrUgEhy9HEUbT/tQ1GJiZtx3tCJgzr6H1Sk52/kllGmOTBXFcGrHBNmiGh0LO0+fPBCSsJ6fb77pqoBoa1ya16lzLcyb0xVIq7RYaqnzoSUSlCK/wONRCXpZOnzff5+UpzkaRluCmpjSSDAETtI6WNkmpWJuTJ5KRKW6qmTC+CKj9HuqRpMLu35Ub6iEPTVBluUXB65z1IwrqvjdWoMmSBhrbru36qJ5IQST8HzZN8aMNo9ajX+eib2gUDKbsmaDA1Pjp4ix9CsZUhBwT9GeoLntGqTUrnTgRpH2U9XEJVTET8hXOP9MWWdMoL+bqeuGwkuqpT6ifMGe660c+qpalQknxRPepqtW90+UkJmRmbx+C/us7ZIc+VzheNfDTy6I05D4H9h/pwZ2WsobGFU85bqKq9eHWz6bNVQw040CHMZtp4oW1T4p7YVtBPr2c13RLeU2EBQaBRM8Tr8KmqUlTVeAgcZuiQ+W0efUpJVeJ7rco4mfcqxzUlzExGiaJHJb1W+kp3hMQ1VsQUMI33+boHOhGmRhhtpQkoW1LjWOhg+Ri3oll6aqFtDS60R53lDmQGotp3MDfRMVAOTS7bn5CVVdBImYtN9rbwY8UdcOYS12Zp0LTb2Ub3+XRMmhFz2Pz86fLpLikvqIc/CcqM1yG+OUp1Q/ChNRcxocJ48E5Voy3A6lXlOcbTeb2i22h+baoRRIaD3cpJsCM1omdwtqWuNCLSRp5eCryd9CXBxb3S7MLRa8meLREdUplQSCQDEWOh8RwrMFiqbWVGupB2YWJJGXYG2t15tZhtoZgWI5i/pN+UU5HtpmTJjH4nEZnF0BskmBMCToJSDVSnVYiQSB8N/8Aanc8psv4ZLjTH1sQfJINdIq1Ek1ryZ8j66ztZXsw5J2yo4grO2URqCN5W0a0uAguJIAGYCbgRJ0tbop5NGV4dlgqKd+qmdX/ANLu1V+QV4nI7PBsulIamWU5NlOT+4VCgfRt1VXZjVb2cryez6Gr0ef2cKmlh3EEgWGqb2YCEvI3RbLdt+gQwJVRqcSlOKok7JKzOiV2atN7JTmKeh6v4SPCUQqqilqK1Wh0vYFS3z5GilqFFUreYQlw1OiYrHJNEpbNwVNWYZ0PwSqH1mhxiQ25aJE9JMH091PXr5jcz724nW2nki+bGJsTnjddTqwQYBAOh0PQwhcQlFEmRoeX7onVSYPAjyupMywvP4+e6YmA5GVapOqQ9y7tevHtolVXpk0LqTH1ELX/ACfnBSi5aysRv1140Tpoy5EdUJP20A3Jvzr8hV08G4U5cHNBNjHhNjrbqoauIEmAekkSn4z6/UcGtDzlaIbJ0B9heUbuutGO3P0oYzuyNAY6cjqddFhFv4UNCoDeNSROomBJy7benRW4X6iabwRlvLZIMQbaDa/ui29bQh0tbKA8lhbm3HdyjNP/ABMW8iJ4XMwYs5t9OXDNF22EHUWPO8wvMxWODXOYx4eAZDgyBMzIDhYTA9Uyj9TdDAC4XzRMjkWnnN6oXv4Z3c7Pp/pX0DtjAHrBKk/8k+kClIM5+ZkQBpEaz1T/AKZ9Qq04fMF14vfc8dFJj/qgrXeSeRmgm8WJBAtNzpHrkm8nPe+huRRxPlXEh0wbGbGLTyLjxUr5MugmIk333Pivbx2OJsIvAdDR3sshuomYJv4cLza1ObFpE3bJEwS7WBc+9j0W6MrftHGyyjzXPQOrm/WBcAmBEQTpoNFtVgnum3Xfw5SYMdN/37o3ezPxNL0baiHJYWM7XsR085WQRqpLAqUPa9PaRz91Fmjf9rRXTVaQl49n6JlEwpcI2rzB7Vo5yUWo3IHK0XIBKAla5CiGoFwQoqiAhUw0SYh1yon4gaFVYxkkrza7I2VGzFKaCDQdEusDC2lrx6o67JCtDH0zyKwvdTPdwrMTSv5H5qoZCsegCUvMmu1S3wjQLBNRDmWgDfWdvdJe8bDprr4/Nk1A77CLhNzCDFuAc4NdmboHQRI5ANwtiRIB7olx13iTA7ouAluyn/ifGb/hEnsVbFOfwp6jltaokVKk8BMmjHlfRlStMn2EAAzsBt0Sm1rG5EiDtI8UNzYDYn0Ek+gSJO37TVZzbaPRoVzoLAXEyPSN/wBJ9YVDOVpM7tE28B4KbByBIy3EGRNpBtOlwLi/qvS7epTyu7wH90AlpMmLEX/yv5Jib0Z3a9HkVGZSZkSB04Mam368lVga8XIkek30HSb6bIvq2PNaKjyJ/tAAg2FtoXnmpFoAmIJmwE8H1sh230Z7pS+j7c/VBWYASRlAaP8A2NhtvH7CgxNJxZBDWiQc+jjYNDBOoA2A3k7LycJWc/ui94iANh8uvUxmIIyBtMOdSBkwSDLp7wtaU7Fg12Z8/wDJ5dB4f6DXe2WtlpNjYSRxNzoofrOArYe72vZbLq+CNYv1vE7bKH6l9XrVXudULjntDSQ0NJBLQP8AGNpGouvDrVDJknzKt1r2jL7LHh5b2n9zZk3DiLx3ou2Sd9VrcVRANjm87y2/gNtbg7LznVoEAmZvwRskF25ugmyONnpMxDCe9a2w545U1V4kgbcXmN0gObvPh/OyWavzUq3ZXAo7S3gm0sWQIAZ506bj6kSo6bSbNkmwiLyTAiNU1hbF809AFc9lcT9KLWFSOxBPRD2i4nE9f42VuKAlIGJ5unNcDor1onFo5LcU3KgeFCJi5XBC5AXKqQzQuvTklQ1zFhqfsr3vgJH9PJke6BD4rXshZTvJ0Q1m2VtelCVUBAuiQxXvs8au7hefVbJvqvbxFEEDRsTcCNeV4uLeGkgbeit9GmHv0JcwpQebkf8AztuCDr0lZXqG4PmNI8lK54+eUX9VarXsJrYVR8GPukmqB+7aeYSnPSnORrJv0C5K2PDpGYtMdMpi8E7bR14SXv6pDz8GiAVDePsj5P6JqX7GVHDQ/a87D8KN7tgPH4dET6p0id9EOcDX0H8rTjjmcn+Rk4sVUFrzr5QBxGqJrzAEWggTEzyOmiN1docQXBwmBa3Eg/tXU6FLJ2hew3AyhwzCehIv67rViwpPlyOZmybWkiNteGRuTcbyJHlqUL8SP8jmHUiAJ6cnYruzzPhtgTALiB4ZiTa0GbD0U9ZpJuJHP64VU/wVoIkm4BsBmnvXkgGQIA0Fzt5AaTQTofm6pZWLWFmc5JnKScpO5MG5s3Wfa4doAY3iCDfaIRxH1me6+H0f0djA1xL2sEF39zcxytMDpJtcW8V83jcc5xIzuLZmOsamNT1WV6U95xytb0IJOwHJ9raqDEV2iwE9T/Gvsjy0176ERK2PoYtzTZuYDvOAm7Rd0xoIGu3kk1McJkMaJmJ72tp71idf4KidUB+8fPFbnGl4/KRzetDfGvegu11sLjgHcH/rpqPsUguWvKVUKBsnAZnC7tIDhDSTlg3kRJtBi83kHySGuWSqROI5j/foDZPFMwPAHY6iVG0r08OO6LnTotGCeTF2tH6AIWg2XLlyD2QJCMLlyhRUx55QvXLkAn6IeUolYuQ0x8iH1ZJG4TmbLlyAZkWug3PjUqHH7RZauRoHGu0eLjWPP9psBc+toXkYpsOdOtrdY9vNcuTKlTpm/G99E1avO0AWER6zqVP/AFBIvHMwJGmnoFy5Vkupfv8A5h8VojqVBe38eyTe5WLknG9vsCuhdSqpqlZcuWkx5MjBdicpIBzCOIvH4P26pAxQkzvvAPsQfXZcuTZtpHMypP2S1D1lA1y5col2ZKQ2liy3f7FenWxQMlrQ0HQax5lcuWjFT00J4reyWq90Xm4kWidpHNxE9ConVCuXK6EtAYjFujLNvm6Q2tbLYAkXI084kC+y5ck1Tb7YHFC+0IIIkEaEGCD0I0Wh5XLlctkNNQpdQHXzWrkXIrYnMtDly5TZYwFexhW9xuui5ct38X+5mbP6P//Z); 
	background-size:cover;
	background-position: center;
}

.or
{
	position: absolute;
	top: 180px;
	left: 280px;
	width: 40px;
	height: 40px;
	background: #efefef;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.6);
	line-height: 40px;
	text-align: center;
}

.right-box .signinwith
{
	display: block;
	margin-bottom: 40px;
	font-size: 28px;
	color: #fff;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

button.social
{
	margin-bottom: 20px;
	width: 220px;
	height: 36px;
	border:none;
	border-radius: 2px;
	color: #fff;
	font-family: sans-serif;
	font-weight: 0.2s ease;
	cursor: pointer;
}

.facebook
{
	background: #325e8e;
}

.google
{
	background: #dd4b39;
}

.g-signin2
{
	margin-left: 500px;
	margin-top: 200px;
}